* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-color: #09a5e7;
    height: 80px;
    align-items: center;
    padding: 20px 100px;
}

.logo {
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar a {
    color: #fff;
    margin: 0px 20px;
    font-size: 16px;
    position: relative;
}

.navbar a:before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 1.5px;
    background: #fff;
    width: 0;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.content a {
    text-decoration: underline;
}

.content h1 {
    text-align: center;
    padding-top: 30px;
    font-weight: 500;
    font-size: 28px;
}

.content {
    line-height: 30px;
}